{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}


{% include 'introduction.html' %}

<hr />

<h1> Blog </h1>

<br/><br/>

{% if articles %}
{% for article in articles[:3] %}
    <div class='article'>
        <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
        <div class="well small"> {% include "metadata.html" %} </div>
        <div class="summary">{{ article.summary }} <a class="btn btn-info xsmall" href="{{ SITEURL }}/{{ article.url }}">read more</a></div>
    </div>
{% endfor %}

{% if articles|length > 3 %}
<div style="margin: 18px 0 27px;">
  <a class="btn btn-primary" href="{{ SITEURL }}/archives.html">More articles &rarr;</a>
</div>
{% endif %}
{% endif %} {# If articles #}

{% endblock content %}

